.pagination {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ant-pagination.mini li {
  margin-right: 15px;
}

.ant-pagination-item-active {
  border-radius: 5px;
  background-color: #1890ff;
}

.ant-pagination-item-active a {
  color: white;
}
